@import "../../styles/variables.scss";

.crewContent {
  display: flex;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  max-height: 90vh;
  @media (max-width: 700px) {
    flex-wrap: wrap-reverse;
  }

  &_images {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    @media (max-width: 700px) {
      align-items: center;
      justify-content: center;
      width: 100vw;
      margin-bottom: 1rem;
      border-bottom: 2px solid #383b4b;
    }
  }
  &_description {
    width: 60vw;
    margin-bottom: 3rem;
    @media (max-width: 700px) {
      width: 100%;
      margin: 3rem 0;
    }
    h3 {
      font-family: $serif;
      color: $gray-light;
      font-weight: 400;
      font-size: 32px;
      line-height: 37px;
      @media (max-width: 700px) {
        font-size: 16px;
        line-height: 18px;
        text-align: center;
      }
    }
    h2 {
      font-family: $serif;
      font-weight: 400;
      font-size: 56px;
      line-height: 0;
      @media (max-width: 700px) {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
      }
    }
    p {
      font-family: $sans;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: $blue-light;
      max-width: 444px;
      @media (max-width: 700px) {
        text-align: center;
      }
    }
  }
}
