@import "../../styles/variables.scss";

.destination {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  
  &_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
  }
  &_content {
   
    h1 {
      font-family: $sans;
      font-size: 28px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 400;
    }
    .image{
        margin: 4rem 0 0 5rem;
        img{
            width: 420px;
            height: 420px;
        }
    }
  }
}
