//colors
$dark: #0b0d17;
$blue-light: #d0d6f9;
$light: #ffffff;
$gray-light: rgb(125, 124, 124);
$gray-dark: rgba(122, 121, 121, 0.289);


//fonts
$sans: "Barlow Condensed", sans-serif;
$serif: "Bellefair", serif;