@import "../../styles/variables.scss";

.pulse_button {
  background-color: $light;
  transition: all 0.5s;
  cursor: pointer;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dark;
  margin: 0 3rem 2rem 0;
  font-size: 1.5rem;
  line-height: 37px;
  letter-spacing: 2px;
  text-align: left;
}

.pulse_button:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
