@import "../../styles/variables.scss";

.crew {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  &_container {
    max-width: 90vw;
    margin: auto;
  }
  &_content {
    margin: 1rem auto 0;
    min-height: 80vh;
    h1 {
      font-family: $sans;
      font-size: 1.75rem;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
      font-weight: 400;
      padding: 2rem 0;
      @media (max-width: 700px) {
        font-size: 1.25rem;
        letter-spacing: 0.1688rem;
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }
}
