@import "../../styles/variables.scss";

.footer {
  width: 100vw;
  a {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: $blue-light;
    font-family: $sans;
    letter-spacing: 2px;
    position: absolute;
    left: 0;
    right: 0;;
    bottom: 0;
  }
}
